
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --main-red: #a62626;
  --divar-gray: #707070;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  color: #242424;
  touch-action: pan-x pan-y;
}

#root {
  height: 100%;
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

.shadow-divar {
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

main {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.font-black {
  font-weight: 900;
}

.leaflet-container {
  touch-action: none !important;
  cursor: grab;
}

/* دکمه سوئیچ شکیل و کوچک */
.view-toggle-pill {
  box-shadow: 0 2px 10px rgba(166, 38, 38, 0.15);
  backdrop-filter: blur(4px);
  z-index: 1000;
}
